.challenge-card{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.text-section {
    flex: 1;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}