a {
  text-decoration: none;
  color: white;
}
h3{
    border-bottom: 2px solid black;
    display: inline-block;
    color: white;
    padding: 30px 0 0 0;
    margin: 0 0 0 0;
}
button{
 cursor:pointer;
}

.analysis-page {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* 내용 사이의 간격 조정 */
    background: black;
    color: white;
    padding: 20px;
}
#top_contents img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
#avginfo, #nomokeinfo{
    border-radius:8px;
    background: white;
    color: black;
    padding: 3px 5px 3px 5px;
    margin: 10px;
}
#top_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
}
#center_contents {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  color :black;

}

#center_title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color:white;
  background:red;
  border-radius: 5px;
  padding:8px;
}
.disease-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    color: black;
}


.disease-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
    transition: transform 0.3s ease-in-out; /* 호버 애니메이션 */
    color: black;
}
.disease-card h3 {
    color: black;
}
.disease-card:hover {
    transform: scale(1.05); /* 마우스 호버 시 카드 확대 */
}
#bottom_contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 10px 10px 30px;
  padding: 20px;
  max-width: 100%;
  color :white;

}
#bottom_contents img{
 width:50px;
 height: auto;
 margin: 10px;
 padding: 5px;
}
#chart-area {
    width:600px;
    height: 400px;
    padding: 10px;
    margin: auto;
}



/* 사용자 정보 영역 */
.userinfo-area {
  flex: 1;
  padding: 10px;

  margin-right : 50px;
}

/* 캘린더 영역 */
.calender-area {
  flex: 1;
  padding: 10px;

  margin-left : 50px;
}

/* 반응형 웹 디자인을 위한 쿼리, 필요에 따라 사용 */
@media (max-width: 768px) {
  #top_contents {
    flex-direction: column; /* 화면이 좁아지면 세로로 스택 */
  }
}

#highlight-red{
    color: red;
}


/* 캘린더 */
.react-calendar {
    background: black;
    border-radius: 10px;
    border: 1px solid var(--festie-gray-400, #c8c8c8); /* 전체 틀: border, border-radius 조정*/
    color : white;
  }
.react-calendar__label {
   color: white;

}
  .react-calendar__navigation__label > span {
    /* 달력 상단 년/월 글씨 커스텀*/
    color: white;
    font-family: SUIT Variable;
    font-size: 13px;
    font-weight: bold;
    line-height: 140%;

  }
  .react-calendar__navigation__arrow{
       color: white;
  }

   .react-calendar__month-view{
        border-radius: 10px;
        color: white;
   }
   .react-calendar__month-view__days__day{
        color: white;
   }
  .react-calendar__month-view__days__day--weekend {
    /* 주말 글씨 빨간색 없애기*/
    color: white;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    /*hover 했을 때 색상 변경*/
    border-radius: 50px;
    color :white;
    background: gray;
  }
  /*오늘 날짜 하이라이트 커스텀*/

  .react-calendar__tile--now {
    background: white;
    border-radius: 50px;
    font-weight: bold;
    color: black;
  }

  .react-calendar__tile--active {
    background: white;
    color: black;
    border-radius: 50px;
  }
#person-price{
    margin-bottom:15px;
}
#calender-notice{
    margin: 30px 0 10px 0;
    font-weight:bold;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    padding:3px 3px;
}

/*button styles*/
#red-button button{
  margin-left: 5px;
  background-color:transparent;
  border-radius: 5px;
  border: #F52334 2px solid;
  color: #F52334;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
#person-price button{
    border-radius: 50px;
    background: #FFF5D9;
    font-weight: bold;
    font-size: 16px;
    border:none;
 }
#red-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-top: 10px;
}
#red-button2 button{
  margin: 10px 0 30px 0px;
  background-color:#F52334;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  font-weight: bold;
  font-size: 16px;
}

#map{

    margin-top:10px;
    border-radius: 10px;
    max-width: 100%;
    color:black;
}