a {
  text-decoration: none;
  color: white;
}
h3{
    border-bottom: 2px solid black;
    display: inline-block;
    color: white;
    padding: 30px 0 0 0;
    margin: 0 0 0 0;
}
button{
 cursor:pointer;
}
.analysis-page {
    display: flex;
    margin:100px 0 50px 0;
    justify-content: center;
    color : white;

}

#top_contents {
  display: flex;
  justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
  align-items: center;
  margin: 0 auto; /* 페이지 중앙에 배치 */
  padding: 20px; /* 약간의 패딩을 줍니다 */
  max-width: 100%; /* 최대 너비를 설정할 수 있습니다 */
}
/* 사용자 정보 영역 */
.userinfo-area {
  flex: 1;
  padding: 10px;

  margin-right : 50px;
}

/* 캘린더 영역 */
.calender-area {
  flex: 1;
  padding: 10px;

  margin-left : 50px;
}

/* 반응형 웹 디자인을 위한 쿼리, 필요에 따라 사용 */
@media (max-width: 768px) {
  #top_contents {
    flex-direction: column; /* 화면이 좁아지면 세로로 스택 */
  }
}

#highlight-red{
    color: red;
}


/* 캘린더 */
/*.react-calendar {*/
/*    background: black;*/
/*    border-radius: 10px;*/
/*    border: 1px solid var(--festie-gray-400, #c8c8c8); !* 전체 틀: border, border-radius 조정*!*/
/*    color : white;*/
/*  }*/
/*.react-calendar__label {*/
/*   color: white;*/

/*}*/
/*  .react-calendar__navigation__label > span {*/
/*    !* 달력 상단 년/월 글씨 커스텀*!*/
/*    color: white;*/
/*    font-family: SUIT Variable;*/
/*    font-size: 13px;*/
/*    font-weight: bold;*/
/*    line-height: 140%;*/

/*  }*/
/*  .react-calendar__navigation__arrow{*/
/*       color: white;*/
/*  }*/

/*   .react-calendar__month-view{*/
/*        border-radius: 10px;*/
/*        color: white;*/
/*   }*/
/*   .react-calendar__month-view__days__day{*/
/*        color: white;*/
/*   }*/
  .react-calendar__month-view__days__day--weekend {
    /* 주말 글씨 빨간색 없애기*/
    color: black;
  }
/*  .react-calendar__tile:enabled:hover,*/
/*  .react-calendar__tile:enabled:focus {*/
/*    !*hover 했을 때 색상 변경*!*/
/*    border-radius: 50px;*/
/*    color :white;*/
/*    background: gray;*/
/*  }*/
/*  !*오늘 날짜 하이라이트 커스텀*!*/

/*  .react-calendar__tile--now {*/
/*    background: white;*/
/*    border-radius: 50px;*/
/*    font-weight: bold;*/
/*    color: black;*/
/*  }*/

/*  .react-calendar__tile--active {*/
/*    background: white;*/
/*    color: black;*/
/*    border-radius: 50px;*/
/*  }*/
#person-price{
    margin-bottom:15px;
}
#calender-notice{
    margin: 30px 0 10px 0;
    font-weight:bold;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    padding:3px 3px;
}

/*button styles*/
#red-button button{
  margin-left: 5px;
  background-color:transparent;
  border-radius: 5px;
  border: #F52334 2px solid;
  color: #F52334;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
#person-price button{
    border-radius: 50px;
    background: #FFF5D9;
    font-weight: bold;
    font-size: 16px;
    border:none;
 }
#red-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-top: 10px;
}
#red-button2 button{
  margin: 10px 0 30px 0px;
  background-color:#F52334;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  font-weight: bold;
  font-size: 16px;
}


